/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-10-09 20:48:39
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-10-09 21:18:04
**************************************************************/

div.skilllink.timeline.view {

	div.levelInfo {
		width : 100%;
		height: 20px;

		span.label {
			float : left;
			margin-left : 5px;
			margin-bottom: 2px;
		}

		span.level {
			float : right;
			margin-right : 5px;
		}
		margin-top : 5px;

	}

	div.test {
		clear: both;
	}

}