/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-10-09 17:42:11
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-10-30 11:37:56
**************************************************************/

div.percentBar {
	width : 100%;
	height: 12px;
	background-color : darken($white_color, 5);
	border : 1px solid darken($white_color, 10);
	text-align: center;
	position: relative;
	overflow: hidden;
	border-radius: 2px;
	box-sizing: border-box;
	z-index: 1;

	span.progressValue {
		font-size: 10px;
		color : $primary_color;
		vertical-align: top;
		line-height: 11px;
		position: relative;
		z-index: 3;
		text-shadow: none;
	}

	div.progressBar {
		content : '';
		height : 100%;
		background-color: lighten($secondary_color, 30);
		position: absolute;
		top : 0px;
		left : 0px;
		z-index: 2;
	}
}